[submodule "watchdog"]
	path = watchdog
	url = https://github.com/Aimirim-STI/Container-Watchdog.git
[submodule "opcua_exporter"]
	path = opcua_exporter
	url = https://github.com/Aimirim-STI/opcua_exporter.git
